In [3]:
import pandas as pd
import numpy as np
import csv

production_df = pd.read_csv('Crop_Production_Normalized.csv', encoding='latin-1')
production_df

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1975,1975,ha,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1976,1976,ha,5900.0,F
2,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1977,1977,ha,6000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1978,1978,ha,6000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1979,1979,ha,6000.0,F
5,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1980,1980,ha,5800.0,F
6,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1981,1981,ha,5800.0,F
7,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1982,1982,ha,5800.0,F
8,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1983,1983,ha,5700.0,F
9,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1984,1984,ha,5700.0,F
10,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1985,1985,ha,5600.0,F
11,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1986,1986,ha,5500.0,F
12,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1987,1987,ha,5500.0,F
13,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1988,1988,ha,5400.0,F
14,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1989,1989,ha,5400.0,F
15,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1990,1990,ha,6037.0,Im
16,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1991,1991,ha,5500.0,NaN
17,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1992,1992,ha,5500.0,NaN
18,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1993,1993,ha,5500.0,NaN
19,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1994,1994,ha,5500.0,NaN
20,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1995,1995,ha,5500.0,NaN
21,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1996,1996,ha,5500.0,NaN
22,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1997,1997,ha,5500.0,NaN
23,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1998,1998,ha,5500.0,NaN
24,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1999,1999,ha,5500.0,NaN
25,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2000,2000,ha,7000.0,F
26,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2001,2001,ha,9000.0,F
27,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2002,2002,ha,5500.0,NaN
28,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2003,2003,ha,5700.0,NaN
29,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2004,2004,ha,12000.0,*
...,...,...,...,...,...,...,...,...,...,...,...
2306389,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1987,1987,tonnes,31041793.0,A
2306390,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1988,1988,tonnes,30742638.0,A
2306391,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1989,1989,tonnes,30482774.0,A
2306392,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1990,1990,tonnes,32097487.0,A
2306393,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1991,1991,tonnes,33873417.0,A
2306394,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1992,1992,tonnes,35917388.0,A
2306395,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1993,1993,tonnes,35878643.0,A
2306396,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1994,1994,tonnes,37267462.0,A
2306397,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1995,1995,tonnes,38395290.0,A
2306398,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1996,1996,tonnes,41661666.0,A
2306399,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1997,1997,tonnes,42458488.0,A
2306400,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1998,1998,tonnes,44924415.0,A
2306401,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1999,1999,tonnes,47758244.0,A
2306402,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2000,2000,tonnes,50958959.0,A
2306403,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2001,2001,tonnes,51166836.0,A
2306404,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2002,2002,tonnes,54252292.0,A
2306405,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2003,2003,tonnes,57011242.0,A
2306406,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2004,2004,tonnes,59553453.0,A
2306407,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2005,2005,tonnes,62320337.0,A
2306408,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2006,2006,tonnes,64519483.0,A
2306409,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2007,2007,tonnes,66131458.0,A
2306410,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2008,2008,tonnes,68466879.0,A
2306411,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2009,2009,tonnes,71291996.0,A
2306412,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2010,2010,tonnes,72168527.0,A
2306413,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2011,2011,tonnes,73295482.0,A
2306414,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2012,2012,tonnes,75011224.0,A
2306415,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2013,2013,tonnes,75322149.0,A
2306416,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2014,2014,tonnes,78657590.0,A
2306417,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,81307673.0,A
2306418,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,82579759.0,A

In [4]:
# filter the df to include only production and exclude yield and area
production_df2 = production_df[production_df.Element == 'Production']
production_df2.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
83,2,Afghanistan,221,"Almonds, with shell",5510,Production,1975,1975,tonnes,0.0,F
84,2,Afghanistan,221,"Almonds, with shell",5510,Production,1976,1976,tonnes,9800.0,F
85,2,Afghanistan,221,"Almonds, with shell",5510,Production,1977,1977,tonnes,9000.0,F
86,2,Afghanistan,221,"Almonds, with shell",5510,Production,1978,1978,tonnes,12000.0,F
87,2,Afghanistan,221,"Almonds, with shell",5510,Production,1979,1979,tonnes,10500.0,F

In [5]:
# create list of countries in the price df
price_df = pd.read_csv('WFPVAM_FoodPrices_05-12-2017.csv', encoding='latin-1')

price_df.rename(columns={'adm0_id': 'country_ID', 'adm0_name': 'country', 'adm1_id' : 'district_ID', \
                   'adm1_name' : 'district', 'mkt_id' : 'market_ID', 'mkt_name' : 'market' , \
                   'cm_id' : 'product_ID','cm_name' : '_product', 'cur_id' : 'currency_ID', \
                   'cur_name' : 'currency', 'pt_id' : 'sale_ID', 'pt_name' : 'sale', 'um_id' : 'unit_ID', \
                   'um_name' : 'unit', 'mp_month' : 'month', 'mp_year' : 'year', 'mp_price' : 'price', \
                   'mp_commoditysource' : 'source'}, inplace=True)

price_df = price_df['country']

price_df

countries = list(set(price_df.tolist()))
print(countries)

['Djibouti', 'Lebanon', 'Cape Verde', 'Central African Republic', 'Bangladesh', 'Guinea', 'Azerbaijan', 'Turkey', 'Burkina Faso', 'India', 'Algeria', 'El Salvador', 'Guinea-Bissau', 'Peru', 'Honduras', 'Bhutan', 'Mozambique', 'Nigeria', 'Timor-Leste', 'Zambia', 'Burundi', 'Congo', 'Mauritania', 'Democratic Republic of the Congo', 'Bolivia', 'Liberia', 'Mali', "Lao People's Democratic Republic", 'Colombia', 'Niger', 'Ghana', 'South Sudan', 'Kenya', 'Armenia', 'Senegal', 'Syrian Arab Republic', 'Cambodia', 'Malawi', 'Tajikistan', 'Uganda', 'Panama', 'Yemen', 'Guatemala', 'Chad', 'Costa Rica', 'Kyrgyzstan', 'Swaziland', 'Gambia', "Cote d'Ivoire", 'Georgia', 'Ethiopia', 'Lesotho', 'Philippines', 'Sudan', 'Iraq', 'Cameroon', 'Somalia', 'Indonesia', 'Haiti', 'Benin', 'Jordan', 'Myanmar', 'Pakistan', 'Egypt', 'Sri Lanka', 'United Republic of Tanzania', 'State of Palestine', 'Afghanistan', 'Rwanda', 'Ukraine', 'Iran  (Islamic Republic of)', 'Madagascar', 'Zimbabwe', 'Nepal']

In [6]:
# filter production df to only include countries that are in the price df
production_df3 = production_df2[production_df2['Area'].isin(countries)]
production_df3

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
83,2,Afghanistan,221,"Almonds, with shell",5510,Production,1975,1975,tonnes,0.0,F
84,2,Afghanistan,221,"Almonds, with shell",5510,Production,1976,1976,tonnes,9800.0,F
85,2,Afghanistan,221,"Almonds, with shell",5510,Production,1977,1977,tonnes,9000.0,F
86,2,Afghanistan,221,"Almonds, with shell",5510,Production,1978,1978,tonnes,12000.0,F
87,2,Afghanistan,221,"Almonds, with shell",5510,Production,1979,1979,tonnes,10500.0,F
88,2,Afghanistan,221,"Almonds, with shell",5510,Production,1980,1980,tonnes,9900.0,F
89,2,Afghanistan,221,"Almonds, with shell",5510,Production,1981,1981,tonnes,8000.0,F
90,2,Afghanistan,221,"Almonds, with shell",5510,Production,1982,1982,tonnes,11000.0,F
91,2,Afghanistan,221,"Almonds, with shell",5510,Production,1983,1983,tonnes,9700.0,F
92,2,Afghanistan,221,"Almonds, with shell",5510,Production,1984,1984,tonnes,10500.0,F
93,2,Afghanistan,221,"Almonds, with shell",5510,Production,1985,1985,tonnes,9000.0,F
94,2,Afghanistan,221,"Almonds, with shell",5510,Production,1986,1986,tonnes,10000.0,F
95,2,Afghanistan,221,"Almonds, with shell",5510,Production,1987,1987,tonnes,9000.0,F
96,2,Afghanistan,221,"Almonds, with shell",5510,Production,1988,1988,tonnes,9000.0,F
97,2,Afghanistan,221,"Almonds, with shell",5510,Production,1989,1989,tonnes,8800.0,F
98,2,Afghanistan,221,"Almonds, with shell",5510,Production,1990,1990,tonnes,9500.0,F
99,2,Afghanistan,221,"Almonds, with shell",5510,Production,1991,1991,tonnes,9000.0,NaN
100,2,Afghanistan,221,"Almonds, with shell",5510,Production,1992,1992,tonnes,9900.0,NaN
101,2,Afghanistan,221,"Almonds, with shell",5510,Production,1993,1993,tonnes,9000.0,NaN
102,2,Afghanistan,221,"Almonds, with shell",5510,Production,1994,1994,tonnes,9000.0,NaN
103,2,Afghanistan,221,"Almonds, with shell",5510,Production,1995,1995,tonnes,9000.0,NaN
104,2,Afghanistan,221,"Almonds, with shell",5510,Production,1996,1996,tonnes,9000.0,NaN
105,2,Afghanistan,221,"Almonds, with shell",5510,Production,1997,1997,tonnes,9000.0,NaN
106,2,Afghanistan,221,"Almonds, with shell",5510,Production,1998,1998,tonnes,9000.0,NaN
107,2,Afghanistan,221,"Almonds, with shell",5510,Production,1999,1999,tonnes,11000.0,F
108,2,Afghanistan,221,"Almonds, with shell",5510,Production,2000,2000,tonnes,12000.0,F
109,2,Afghanistan,221,"Almonds, with shell",5510,Production,2001,2001,tonnes,15000.0,F
110,2,Afghanistan,221,"Almonds, with shell",5510,Production,2002,2002,tonnes,11318.0,Im
111,2,Afghanistan,221,"Almonds, with shell",5510,Production,2003,2003,tonnes,14000.0,*
112,2,Afghanistan,221,"Almonds, with shell",5510,Production,2004,2004,tonnes,14700.0,*
...,...,...,...,...,...,...,...,...,...,...,...
1663446,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1987,1987,tonnes,145700.0,A
1663447,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1988,1988,tonnes,147800.0,A
1663448,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1989,1989,tonnes,149900.0,A
1663449,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1990,1990,tonnes,155125.0,A
1663450,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1991,1991,tonnes,157302.0,A
1663451,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1992,1992,tonnes,135549.0,A
1663452,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1993,1993,tonnes,145774.0,A
1663453,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1994,1994,tonnes,151532.0,A
1663454,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1995,1995,tonnes,147055.0,A
1663455,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1996,1996,tonnes,149199.0,A
1663456,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1997,1997,tonnes,147196.0,A
1663457,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1998,1998,tonnes,143931.0,A
1663458,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1999,1999,tonnes,152129.0,A
1663459,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2000,2000,tonnes,148730.0,A
1663460,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2001,2001,tonnes,161421.0,A
1663461,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2002,2002,tonnes,170427.0,A
1663462,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2003,2003,tonnes,180353.0,A
1663463,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2004,2004,tonnes,180981.0,A
1663464,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2005,2005,tonnes,184727.0,A
1663465,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2006,2006,tonnes,191085.0,A
1663466,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2007,2007,tonnes,198478.0,A
1663467,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2008,2008,tonnes,202999.0,A
1663468,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2009,2009,tonnes,209728.0,A
1663469,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2010,2010,tonnes,220644.0,A
1663470,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2011,2011,tonnes,207235.0,A
1663471,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2012,2012,tonnes,230340.0,A
1663472,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2013,2013,tonnes,230340.0,A
1663473,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2014,2014,tonnes,232298.0,A
1663474,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,235568.0,A
1663475,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,240264.0,A

In [7]:
# create list of products in price df
price_df = pd.read_csv('WFPVAM_FoodPrices_05-12-2017.csv', encoding='latin-1')

price_df.rename(columns={'adm0_id': 'country_ID', 'adm0_name': 'country', 'adm1_id' : 'district_ID', \
                   'adm1_name' : 'district', 'mkt_id' : 'market_ID', 'mkt_name' : 'market' , \
                   'cm_id' : 'product_ID','cm_name' : '_product', 'cur_id' : 'currency_ID', \
                   'cur_name' : 'currency', 'pt_id' : 'sale_ID', 'pt_name' : 'sale', 'um_id' : 'unit_ID', \
                   'um_name' : 'unit', 'mp_month' : 'month', 'mp_year' : 'year', 'mp_price' : 'price', \
                   'mp_commoditysource' : 'source'}, inplace=True)

price_df = price_df['_product']

price_products = list(set(price_df.tolist()))
print(price_products)

['Milk (powder, infant formula)', 'Passion fruit', 'Fish (bonga)', 'Cowpeas (white)', 'Fuel (gas)', 'Cashew', 'Lentils (masur)', 'Rice (small grain, imported)', 'Milk (powder)', 'Yogurt', 'Beans (black)', 'Sugar (jaggery/gur)', 'Rice (carolina 2da)', 'Milk', 'Onions (red)', 'Potatoes (Irish, imilla)', 'Fuel (kerosene)', 'Fuel (petrol-gasoline)', 'Cassava (cossette)', 'Charcoal', 'Rice (good quality)', 'Wage (non-qualified labour)', 'Oil (vegetable, imported)', 'Wheat', 'Pulses', 'Rice (glutinous, unmilled)', 'Sugar (brown, local)', 'Peas (yellow, split)', 'Beans (butter)', 'Bananas (medium size)', 'Fish (snake head)', 'Noodles (short)', 'Cheese (goat)', 'Sugar (brown)', 'Cassava', 'Beans(mash)', 'Livestock (sheep, one-year-old alive female)', 'Oil (palm)', 'Beans (haricot)', 'Beans (kidney)', 'Millet (white)', 'Sorghum flour', 'Beans (mung)', 'Peas (fresh)', 'Buckwheat grits', 'Bread (high grade flour)', 'Eggs (white, AA)', 'Fish (catfish)', 'Salt', 'Tomatoes', 'Apples (red)', 'Rice (tchako)', 'Meat (buffalo, first quality)', 'Meat (beef, minced)', 'Fish (salted)', 'Rice (glutinous, first quality)', 'Beans (green, fresh)', 'Yam (florido)', 'Beans (kidney red)', 'Meat (chicken, frozen)', 'Oil (cooking)', 'Meat (camel)', 'Beans (magnum)', 'Maize meal', 'Livestock (pig)', 'Fish (canned)', 'Fish (tuna, canned)', 'Plantains', 'Oil (soybean)', 'Rice (regular, milled)', 'Maize (yellow)', 'Bread (first grade flour)', 'Chili (red)', 'Oil (vegetable, local)', 'Oranges (big size)', 'Sugar', 'Beans (string)', 'Meat (chicken, whole)', 'Oil (groundnut)', 'Oil (sunflower)', 'Peas (split, dry)', 'Maize flour (imported)', 'Rice (imported, Indian)', 'Meat (beef)', 'Bread (common)', 'Transport (public)', 'Beans (white)', 'Onions (dry, local)', 'Potatoes (Irish)', 'Rice (low quality)', 'Tea (sahm)', 'Livestock (Goat)', 'Soybeans', 'Maize', 'Peppers (green)', 'Maize meal (white, without bran) ', 'Maize flour (white)', 'Rice', 'Rice (imported, Tanzanian)', 'Sesame', 'Cocoa', 'Guava', 'Maize meal (white, with bran)', 'Rice (mixed, low quality)', 'Zucchini', 'Cassava flour', 'Eggs', 'Garlic (small)', 'Peas (green, dry)', 'Tea (black)', 'Gari (white)', 'Rice (high quality, local)', 'Rice (glutinous, second quality)', 'Sugar (white, fortified)', 'Tortilla (maize)', 'Butter', 'Potatoes (medium size)', 'Sweet potatoes', 'Beans (fava, dry)', 'Groundnuts (large, shelled)', 'Chickpeas', 'Meat (lamb)', 'Sugar (brown, imported)', 'Bread (brown)', 'Peanut', 'Plantains (apentu)', 'Cassava meal (gari)', 'Sugar (white)', 'Lentils (moong)', 'Sorghum (brown)', 'Parsley', 'Oranges', 'Electricity', 'Rice (imported, Egyptian)', 'Livestock (hen)', 'Beetroots', 'Cotton', 'Cowpeas', 'Lentils', 'Water (drinking)', 'Fuel (diesel)', 'Sorghum (white)', 'Livestock (sheep, medium-sized castrated male)', 'Milk (camel)', 'Meat (beef, chops with bones)', 'Bananas', 'Fish (dry)', 'Sugar (brown, loaf)', 'Maize meal (local)', 'Lentils (urad)', 'Fonio', 'Cornstarch', 'Milk (condensed)', 'Rice (ordinary, unmilled)', 'Cowpeas (brown)', 'Rice (red nadu)', 'Water', 'Maize (imported)', 'Rice (ordinary, second quality)', 'Tomatoes (greenhouse)', 'Pasta', 'Potatoes (unica)', 'Milk (cow, pasteurized)', 'Wheat flour (local)', 'Maize meal (white, fortified)', 'Groundnuts', 'Rice (white, imported)', 'Wheat flour', 'Lentils (imported)', 'Maize (local)', 'Chili (green)', 'Bread (rye)', 'Beans (sugar) ', 'Livestock (cattle)', 'Oil (cotton)', 'Meat (chicken, broiler)', 'Rice (medium grain)', 'Oil (maize)', 'Cabbage', 'Bread (wheat)', 'Fish (sardine, canned)', 'Chickpeas (local)', 'Bread (shop)', 'Wage (non-qualified labour, non-agricultural)', 'Rice (coarse)', 'Wheat flour (high quality)', 'Rice (white)', 'Rice (low quality, local)', 'Fish (tilapia)', 'Papaya', 'Meat (pork, first quality)', 'Bread (khoboz)', 'Chickpeas (imported)', 'Beans (kidney white)', 'Poultry', 'Tea (herbal)', 'Rice (high quality)', 'Meat (chicken, imported)', 'Meat (beef, canned)', 'Pumpkin', 'Maize meal (white, breakfast)', 'Rice (paddy)', 'Beans (niebe)', 'Tea', 'Rice (long grain)', 'Potatoes (black)', 'Rice (estaquilla)', 'Beans', 'Rice (ordinary, first quality)', 'Salt (iodised)', 'Bread (bakery)', 'Eggs (imported)', 'Labaneh', 'Maize flour', 'Cassava (fresh)', 'Peas (dry)', 'Avocados', 'Cassava (dry)', 'Carrots', 'Maize (white)', 'Milk (pasteurized)', 'Rice (medium grain, imported)', 'Coffee', 'Yam (Abuja)', 'Fish (frozen)', 'Rice (milled 80-20)', 'Meat (pork)', 'Meat (goat)', 'Groundnuts (unshelled)', 'Apples', 'Oil (vegetable)', 'Lettuce', 'Wheat flour (first grade)', 'Wheat flour (locally processed)', 'Meat (pork, second quality)', 'Livestock (goat, medium-sized castrated male)', 'Rice (local)', 'Cucumbers (greenhouse)', 'Potatoes (Dutch)', 'Ghee (vanaspati)', 'Beans (red)', 'Tamarillos/tree tomatoes', 'Livestock (Sheep)', 'Maize meal (white, first grade)', 'Exchange rate', 'Fish (fresh)', 'Groundnuts (paste)', 'Wheat flour (fortified)', 'Groundnuts (small, shelled)', 'Beans (niebe, white)', 'Oil (mustard)', 'Oil (mixed, imported)', 'Sorghum (berbere)', 'Maize meal (white, roller)', 'Cheese (dry)', 'Meat (veal)', 'Beans (catarino)', 'Meat (beef, second quality)', 'Meat (pork, with fat)', 'Groundnuts (Mix)', 'Dates', 'Rice (denikassia, imported)', 'Rice (paddy, long grain, local)', 'Fish', 'Beans (sugar-red)', 'Livestock (sheep, two-year-old male)', 'Cheese', 'Meat (buffalo, second quality)', 'Beans (dry)', 'Cheese (picon)', 'Cassava leaves', 'Cucumbers', 'Beans (red, fresh)', 'Oil (olive)', 'Meat (goat, with bones)', 'Fat (salo)', 'Wheat flour (imported)', 'Cocoa (powder)', 'Meat (mixed, sausage)', 'Bread', 'Coffee (instant)', 'Beans (silk red)', 'Cassava meal (attieke)', 'Bread (pita)', 'Garlic', 'Sorghum (food aid)', 'Sorghum (red)', 'Rice (basmati, broken)', 'Onions', 'Tomatoes (paste)', 'Ghee (natural)', 'Meat (beef, without bones)', 'Fish (red snapper)', 'Blackberry', 'Meat (beef, first quality)', 'Wage (non-qualified labour, agricultural)', 'Milk (non-pasteurized)', 'Fish (tilapia, farmed)', 'Potatoes', 'Spinach', 'Meat (mutton)', 'Tea (green)', 'Sour cream', 'Sorghum', 'Fish (appolo)', 'Gari (yellow)', 'Cassava meal', 'Oil (mixed)', 'Cauliflower', 'Broccoli', 'Eggplants', 'Exchange rate (unofficial)', 'Oil', 'Wage (qualified labour)', 'Peas (yellow)', 'Rice (imported)', 'Cheese (white, boiled)', 'Sorghum (taghalit)', 'Meat (chicken)', 'Cassava (chikwangue)', 'Oil (vegetable, fortified)', 'Fish (smoked)', 'Millet', 'Bulgur', 'Ghee (artificial)', 'Groundnuts (shelled)', 'Mangoes', 'Rice (long grain, imported)', 'Yam', 'Curd', 'Onions (white)']

In [8]:
# filter production df to only include products that are in the price df
production_df4 = production_df3[production_df3['Item'].isin(price_products)]
production_df4

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
380,2,Afghanistan,515,Apples,5510,Production,1961,1961,tonnes,15100.0,*
381,2,Afghanistan,515,Apples,5510,Production,1962,1962,tonnes,15100.0,F
382,2,Afghanistan,515,Apples,5510,Production,1963,1963,tonnes,15100.0,F
383,2,Afghanistan,515,Apples,5510,Production,1964,1964,tonnes,18400.0,F
384,2,Afghanistan,515,Apples,5510,Production,1965,1965,tonnes,20400.0,F
385,2,Afghanistan,515,Apples,5510,Production,1966,1966,tonnes,22800.0,F
386,2,Afghanistan,515,Apples,5510,Production,1967,1967,tonnes,27600.0,F
387,2,Afghanistan,515,Apples,5510,Production,1968,1968,tonnes,27900.0,F
388,2,Afghanistan,515,Apples,5510,Production,1969,1969,tonnes,28200.0,F
389,2,Afghanistan,515,Apples,5510,Production,1970,1970,tonnes,27300.0,F
390,2,Afghanistan,515,Apples,5510,Production,1971,1971,tonnes,21500.0,F
391,2,Afghanistan,515,Apples,5510,Production,1972,1972,tonnes,26600.0,F
392,2,Afghanistan,515,Apples,5510,Production,1973,1973,tonnes,27600.0,F
393,2,Afghanistan,515,Apples,5510,Production,1974,1974,tonnes,27800.0,F
394,2,Afghanistan,515,Apples,5510,Production,1975,1975,tonnes,27900.0,F
395,2,Afghanistan,515,Apples,5510,Production,1976,1976,tonnes,26200.0,F
396,2,Afghanistan,515,Apples,5510,Production,1977,1977,tonnes,15500.0,F
397,2,Afghanistan,515,Apples,5510,Production,1978,1978,tonnes,22700.0,F
398,2,Afghanistan,515,Apples,5510,Production,1979,1979,tonnes,21600.0,F
399,2,Afghanistan,515,Apples,5510,Production,1980,1980,tonnes,22300.0,F
400,2,Afghanistan,515,Apples,5510,Production,1981,1981,tonnes,22100.0,F
401,2,Afghanistan,515,Apples,5510,Production,1982,1982,tonnes,21400.0,F
402,2,Afghanistan,515,Apples,5510,Production,1983,1983,tonnes,20800.0,F
403,2,Afghanistan,515,Apples,5510,Production,1984,1984,tonnes,20000.0,F
404,2,Afghanistan,515,Apples,5510,Production,1985,1985,tonnes,19100.0,F
405,2,Afghanistan,515,Apples,5510,Production,1986,1986,tonnes,19400.0,F
406,2,Afghanistan,515,Apples,5510,Production,1987,1987,tonnes,16600.0,F
407,2,Afghanistan,515,Apples,5510,Production,1988,1988,tonnes,16900.0,F
408,2,Afghanistan,515,Apples,5510,Production,1989,1989,tonnes,16900.0,F
409,2,Afghanistan,515,Apples,5510,Production,1990,1990,tonnes,16867.0,Im
...,...,...,...,...,...,...,...,...,...,...,...
1661902,181,Zimbabwe,15,Wheat,5510,Production,1987,1987,tonnes,214548.0,NaN
1661903,181,Zimbabwe,15,Wheat,5510,Production,1988,1988,tonnes,256910.0,NaN
1661904,181,Zimbabwe,15,Wheat,5510,Production,1989,1989,tonnes,283835.0,NaN
1661905,181,Zimbabwe,15,Wheat,5510,Production,1990,1990,tonnes,325983.0,NaN
1661906,181,Zimbabwe,15,Wheat,5510,Production,1991,1991,tonnes,259213.0,NaN
1661907,181,Zimbabwe,15,Wheat,5510,Production,1992,1992,tonnes,57000.0,NaN
1661908,181,Zimbabwe,15,Wheat,5510,Production,1993,1993,tonnes,277000.0,NaN
1661909,181,Zimbabwe,15,Wheat,5510,Production,1994,1994,tonnes,288000.0,NaN
1661910,181,Zimbabwe,15,Wheat,5510,Production,1995,1995,tonnes,70000.0,NaN
1661911,181,Zimbabwe,15,Wheat,5510,Production,1996,1996,tonnes,263134.0,NaN
1661912,181,Zimbabwe,15,Wheat,5510,Production,1997,1997,tonnes,254772.0,NaN
1661913,181,Zimbabwe,15,Wheat,5510,Production,1998,1998,tonnes,242121.0,NaN
1661914,181,Zimbabwe,15,Wheat,5510,Production,1999,1999,tonnes,260909.0,NaN
1661915,181,Zimbabwe,15,Wheat,5510,Production,2000,2000,tonnes,229775.0,NaN
1661916,181,Zimbabwe,15,Wheat,5510,Production,2001,2001,tonnes,197526.0,NaN
1661917,181,Zimbabwe,15,Wheat,5510,Production,2002,2002,tonnes,195000.0,NaN
1661918,181,Zimbabwe,15,Wheat,5510,Production,2003,2003,tonnes,122427.0,NaN
1661919,181,Zimbabwe,15,Wheat,5510,Production,2004,2004,tonnes,247048.0,NaN
1661920,181,Zimbabwe,15,Wheat,5510,Production,2005,2005,tonnes,229089.0,NaN
1661921,181,Zimbabwe,15,Wheat,5510,Production,2006,2006,tonnes,241924.0,NaN
1661922,181,Zimbabwe,15,Wheat,5510,Production,2007,2007,tonnes,149110.0,NaN
1661923,181,Zimbabwe,15,Wheat,5510,Production,2008,2008,tonnes,31000.0,NaN
1661924,181,Zimbabwe,15,Wheat,5510,Production,2009,2009,tonnes,12000.0,*
1661925,181,Zimbabwe,15,Wheat,5510,Production,2010,2010,tonnes,18000.0,*
1661926,181,Zimbabwe,15,Wheat,5510,Production,2011,2011,tonnes,23000.0,*
1661927,181,Zimbabwe,15,Wheat,5510,Production,2012,2012,tonnes,52736.0,Im
1661928,181,Zimbabwe,15,Wheat,5510,Production,2013,2013,tonnes,52926.0,Im
1661929,181,Zimbabwe,15,Wheat,5510,Production,2014,2014,tonnes,50422.0,Im
1661930,181,Zimbabwe,15,Wheat,5510,Production,2015,2015,tonnes,46858.0,Im
1661931,181,Zimbabwe,15,Wheat,5510,Production,2016,2016,tonnes,43294.0,Im

In [9]:
# create list of exact common products
production_df4_item = production_df4['Item']

common_products = set(production_df4_item.tolist())

print(sorted(list(common_products)))
print("Number of common products:")
print(len(common_products))

['Apples', 'Avocados', 'Bananas', 'Cassava', 'Cassava leaves', 'Dates', 'Fonio', 'Garlic', 'Lentils', 'Maize', 'Millet', 'Oranges', 'Potatoes', 'Sorghum', 'Soybeans', 'Spinach', 'Sweet potatoes', 'Tea', 'Tomatoes', 'Wheat']
Number of common products:
20

In [10]:
# print lists of products from both dataframes,
# to inspect cases where diffent names are used for the same products
production_df3_item = production_df3['Item']

production_products = set(production_df3_item.tolist())

print("Number of products in production df:")
print(len(list(production_products)))

print("Products in the production df:")
for x in sorted(list(production_products)):
    print(x)

Number of products in production df:
176
Products in the production df:
Agave fibres nes
Almonds, with shell
Anise, badian, fennel, coriander
Apples
Apricots
Areca nuts
Artichokes
Asparagus
Avocados
Bambara beans
Bananas
Barley
Bastfibres, other
Beans, dry
Beans, green
Berries nes
Blueberries
Brazil nuts, with shell
Broad beans, horse beans, dry
Buckwheat
Cabbages and other brassicas
Canary seed
Carobs
Carrots and turnips
Cashew nuts, with shell
Cashewapple
Cassava
Cassava leaves
Castor oil seed
Cauliflowers and broccoli
Cereals, nes
Cereals,Total
Cherries
Cherries, sour
Chestnut
Chick peas
Chicory roots
Chillies and peppers, dry
Chillies and peppers, green
Cinnamon (canella)
Citrus Fruit,Total
Cloves
Coarse Grain, Total
Cocoa, beans
Coconuts
Coffee, green
Coir
Cotton lint
Cottonseed
Cow peas, dry
Cranberries
Cucumbers and gherkins
Currants
Dates
Eggplants (aubergines)
Fibre Crops Primary
Fibre crops nes
Figs
Flax fibre and tow
Fonio
Fruit Primary
Fruit, citrus nes
Fruit, fresh nes
Fruit, pome nes
Fruit, stone nes
Fruit, tropical fresh nes
Garlic
Ginger
Gooseberries
Grain, mixed
Grapefruit (inc. pomelos)
Grapes
Groundnuts, with shell
Hazelnuts, with shell
Hemp tow waste
Hempseed
Hops
Jute
Kapok fibre
Kapok fruit
Kapokseed in shell
Karite nuts (sheanuts)
Kiwi fruit
Kola nuts
Leeks, other alliaceous vegetables
Lemons and limes
Lentils
Lettuce and chicory
Linseed
Lupins
Maize
Maize, green
Mangoes, mangosteens, guavas
Manila fibre (abaca)
MatÃ©
Melons, other (inc.cantaloupes)
Melonseed
Millet
Mushrooms and truffles
Mustard seed
Nutmeg, mace and cardamoms
Nuts, nes
Oats
Oil palm fruit
Oil, palm
Oilcrops, Cake Equivalent
Oilcrops, Oil Equivalent
Oilseeds nes
Okra
Olives
Onions, dry
Onions, shallots, green
Oranges
Palm kernels
Papayas
Peaches and nectarines
Pears
Peas, dry
Peas, green
Pepper (piper spp.)
Peppermint
Persimmons
Pigeon peas
Pineapples
Pistachios
Plantains and others
Plums and sloes
Poppy seed
Potatoes
Pulses, nes
Pulses,Total
Pumpkins, squash and gourds
Pyrethrum, dried
Quinces
Quinoa
Ramie
Rapeseed
Raspberries
Rice, paddy
Roots and Tubers,Total
Roots and tubers, nes
Rubber, natural
Rye
Safflower seed
Seed cotton
Sesame seed
Sisal
Sorghum
Soybeans
Spices, nes
Spinach
Strawberries
String beans
Sugar beet
Sugar cane
Sugar crops, nes
Sunflower seed
Sweet potatoes
Tangerines, mandarins, clementines, satsumas
Taro (cocoyam)
Tea
Tobacco, unmanufactured
Tomatoes
Treenuts,Total
Triticale
Tung nuts
Vanilla
Vegetables Primary
Vegetables, fresh nes
Vegetables, leguminous nes
Vetches
Walnuts, with shell
Watermelons
Wheat
Yams
Yautia (cocoyam)

In [11]:
print("Number of products in price df:")
print(len(price_products))

print("Products in the price df:")

for x in sorted(price_products):
    print(x)

Number of products in price df:
331
Products in the price df:
Apples
Apples (red)
Avocados
Bananas
Bananas (medium size)
Beans
Beans (black)
Beans (butter)
Beans (catarino)
Beans (dry)
Beans (fava, dry)
Beans (green, fresh)
Beans (haricot)
Beans (kidney red)
Beans (kidney white)
Beans (kidney)
Beans (magnum)
Beans (mung)
Beans (niebe)
Beans (niebe, white)
Beans (red)
Beans (red, fresh)
Beans (silk red)
Beans (string)
Beans (sugar)
Beans (sugar-red)
Beans (white)
Beans(mash)
Beetroots
Blackberry
Bread
Bread (bakery)
Bread (brown)
Bread (common)
Bread (first grade flour)
Bread (high grade flour)
Bread (khoboz)
Bread (pita)
Bread (rye)
Bread (shop)
Bread (wheat)
Broccoli
Buckwheat grits
Bulgur
Butter
Cabbage
Carrots
Cashew
Cassava
Cassava (chikwangue)
Cassava (cossette)
Cassava (dry)
Cassava (fresh)
Cassava flour
Cassava leaves
Cassava meal
Cassava meal (attieke)
Cassava meal (gari)
Cauliflower
Charcoal
Cheese
Cheese (dry)
Cheese (goat)
Cheese (picon)
Cheese (white, boiled)
Chickpeas
Chickpeas (imported)
Chickpeas (local)
Chili (green)
Chili (red)
Cocoa
Cocoa (powder)
Coffee
Coffee (instant)
Cornstarch
Cotton
Cowpeas
Cowpeas (brown)
Cowpeas (white)
Cucumbers
Cucumbers (greenhouse)
Curd
Dates
Eggplants
Eggs
Eggs (imported)
Eggs (white, AA)
Electricity
Exchange rate
Exchange rate (unofficial)
Fat (salo)
Fish
Fish (appolo)
Fish (bonga)
Fish (canned)
Fish (catfish)
Fish (dry)
Fish (fresh)
Fish (frozen)
Fish (red snapper)
Fish (salted)
Fish (sardine, canned)
Fish (smoked)
Fish (snake head)
Fish (tilapia)
Fish (tilapia, farmed)
Fish (tuna, canned)
Fonio
Fuel (diesel)
Fuel (gas)
Fuel (kerosene)
Fuel (petrol-gasoline)
Gari (white)
Gari (yellow)
Garlic
Garlic (small)
Ghee (artificial)
Ghee (natural)
Ghee (vanaspati)
Groundnuts
Groundnuts (Mix)
Groundnuts (large, shelled)
Groundnuts (paste)
Groundnuts (shelled)
Groundnuts (small, shelled)
Groundnuts (unshelled)
Guava
Labaneh
Lentils
Lentils (imported)
Lentils (masur)
Lentils (moong)
Lentils (urad)
Lettuce
Livestock (Goat)
Livestock (Sheep)
Livestock (cattle)
Livestock (goat, medium-sized castrated male)
Livestock (hen)
Livestock (pig)
Livestock (sheep, medium-sized castrated male)
Livestock (sheep, one-year-old alive female)
Livestock (sheep, two-year-old male)
Maize
Maize (imported)
Maize (local)
Maize (white)
Maize (yellow)
Maize flour
Maize flour (imported)
Maize flour (white)
Maize meal
Maize meal (local)
Maize meal (white, breakfast)
Maize meal (white, first grade)
Maize meal (white, fortified)
Maize meal (white, roller)
Maize meal (white, with bran)
Maize meal (white, without bran)
Mangoes
Meat (beef)
Meat (beef, canned)
Meat (beef, chops with bones)
Meat (beef, first quality)
Meat (beef, minced)
Meat (beef, second quality)
Meat (beef, without bones)
Meat (buffalo, first quality)
Meat (buffalo, second quality)
Meat (camel)
Meat (chicken)
Meat (chicken, broiler)
Meat (chicken, frozen)
Meat (chicken, imported)
Meat (chicken, whole)
Meat (goat)
Meat (goat, with bones)
Meat (lamb)
Meat (mixed, sausage)
Meat (mutton)
Meat (pork)
Meat (pork, first quality)
Meat (pork, second quality)
Meat (pork, with fat)
Meat (veal)
Milk
Milk (camel)
Milk (condensed)
Milk (cow, pasteurized)
Milk (non-pasteurized)
Milk (pasteurized)
Milk (powder)
Milk (powder, infant formula)
Millet
Millet (white)
Noodles (short)
Oil
Oil (cooking)
Oil (cotton)
Oil (groundnut)
Oil (maize)
Oil (mixed)
Oil (mixed, imported)
Oil (mustard)
Oil (olive)
Oil (palm)
Oil (soybean)
Oil (sunflower)
Oil (vegetable)
Oil (vegetable, fortified)
Oil (vegetable, imported)
Oil (vegetable, local)
Onions
Onions (dry, local)
Onions (red)
Onions (white)
Oranges
Oranges (big size)
Papaya
Parsley
Passion fruit
Pasta
Peanut
Peas (dry)
Peas (fresh)
Peas (green, dry)
Peas (split, dry)
Peas (yellow)
Peas (yellow, split)
Peppers (green)
Plantains
Plantains (apentu)
Potatoes
Potatoes (Dutch)
Potatoes (Irish)
Potatoes (Irish, imilla)
Potatoes (black)
Potatoes (medium size)
Potatoes (unica)
Poultry
Pulses
Pumpkin
Rice
Rice (basmati, broken)
Rice (carolina 2da)
Rice (coarse)
Rice (denikassia, imported)
Rice (estaquilla)
Rice (glutinous, first quality)
Rice (glutinous, second quality)
Rice (glutinous, unmilled)
Rice (good quality)
Rice (high quality)
Rice (high quality, local)
Rice (imported)
Rice (imported, Egyptian)
Rice (imported, Indian)
Rice (imported, Tanzanian)
Rice (local)
Rice (long grain)
Rice (long grain, imported)
Rice (low quality)
Rice (low quality, local)
Rice (medium grain)
Rice (medium grain, imported)
Rice (milled 80-20)
Rice (mixed, low quality)
Rice (ordinary, first quality)
Rice (ordinary, second quality)
Rice (ordinary, unmilled)
Rice (paddy)
Rice (paddy, long grain, local)
Rice (red nadu)
Rice (regular, milled)
Rice (small grain, imported)
Rice (tchako)
Rice (white)
Rice (white, imported)
Salt
Salt (iodised)
Sesame
Sorghum
Sorghum (berbere)
Sorghum (brown)
Sorghum (food aid)
Sorghum (red)
Sorghum (taghalit)
Sorghum (white)
Sorghum flour
Sour cream
Soybeans
Spinach
Sugar
Sugar (brown)
Sugar (brown, imported)
Sugar (brown, loaf)
Sugar (brown, local)
Sugar (jaggery/gur)
Sugar (white)
Sugar (white, fortified)
Sweet potatoes
Tamarillos/tree tomatoes
Tea
Tea (black)
Tea (green)
Tea (herbal)
Tea (sahm)
Tomatoes
Tomatoes (greenhouse)
Tomatoes (paste)
Tortilla (maize)
Transport (public)
Wage (non-qualified labour)
Wage (non-qualified labour, agricultural)
Wage (non-qualified labour, non-agricultural)
Wage (qualified labour)
Water
Water (drinking)
Wheat
Wheat flour
Wheat flour (first grade)
Wheat flour (fortified)
Wheat flour (high quality)
Wheat flour (imported)
Wheat flour (local)
Wheat flour (locally processed)
Yam
Yam (Abuja)
Yam (florido)
Yogurt
Zucchini

In [14]:
linked_products_df = pd.read_csv('Linked_products.csv', delimiter=";", encoding='latin-1')
linked_products_df

           production_df_product          price_df_product
0                         Apples                    Apples
1                         Apples              Apples (red)
2                       Avocados                  Avocados
3                        Bananas                   Bananas
4                        Bananas     Bananas (medium size)
5                     Beans, dry               Beans (dry)
6                   Beans, green      Beans (green, fresh)
7                      Buckwheat           Buckwheat grits
8   Cabbages and other brassicas                   Cabbage
9            Carrots and turnips                   Carrots
10       Cashew nuts, with shell                    Cashew
11                   Cashewapple                    Cashew
12                       Cassava                   Cassava
13                       Cassava      Cassava (chikwangue)
14                       Cassava        Cassava (cossette)
15                       Cassava             Cassava (dry)
16                       Cassava           Cassava (fresh)
17                       Cassava             Cassava flour
18                       Cassava              Cassava meal
19                       Cassava    Cassava meal (attieke)
20                       Cassava       Cassava meal (gari)
21                Cassava leaves            Cassava leaves
22     Cauliflowers and broccoli                  Broccoli
23     Cauliflowers and broccoli               Cauliflower
24                    Chick peas                 Chickpeas
25                    Chick peas      Chickpeas (imported)
26                    Chick peas         Chickpeas (local)
27   Chillies and peppers, green             Chili (green)
28                  Cocoa, beans                     Cocoa
29                 Coffee, green                    Coffee
..                           ...                       ...
67                      Potatoes  Potatoes (Irish, imilla)
68                      Potatoes          Potatoes (black)
69                      Potatoes    Potatoes (medium size)
70                      Potatoes          Potatoes (unica)
71                 Pulses, Total                    Pulses
72   Pumpkins, squash and gourds                   Pumpkin
73                   Rice, paddy              Rice (paddy)
74                   Sesame seed                    Sesame
75                       Sorghum                   Sorghum
76                       Sorghum         Sorghum (berbere)
77                       Sorghum           Sorghum (brown)
78                       Sorghum        Sorghum (food aid)
79                       Sorghum             Sorghum (red)
80                       Sorghum        Sorghum (taghalit)
81                       Sorghum           Sorghum (white)
82                      Soybeans                  Soybeans
83                       Spinach                   Spinach
84                Sweet potatoes            Sweet potatoes
85                           Tea                       Tea
86                           Tea               Tea (black)
87                           Tea               Tea (green)
88                           Tea              Tea (herbal)
89                           Tea                Tea (sahm)
90                      Tomatoes                  Tomatoes
91                      Tomatoes     Tomatoes (greenhouse)
92                      Tomatoes          Tomatoes (paste)
93                         Wheat                     Wheat
94                          Yams                       Yam
95                          Yams               Yam (Abuja)
96                          Yams             Yam (florido)

[97 rows x 2 columns]

In [17]:
production_products_linked = list(set(linked_products_df['production_df_product'].tolist()))

print(sorted(production_products_linked))

production_df5 = production_df3[production_df3['Item'].isin(production_products_linked)]

production_df5

['Apples', 'Avocados', 'Bananas', 'Beans, dry', 'Beans, green', 'Buckwheat', 'Cabbages and other brassicas', 'Carrots and turnips', 'Cashew nuts, with shell', 'Cashewapple', 'Cassava', 'Cassava leaves', 'Cauliflowers and broccoli', 'Chick peas', 'Chillies and peppers, green', 'Cocoa, beans', 'Coffee, green', 'Cotton lint', 'Cottonseed', 'Cow peas, dry', 'Cucumbers and gherkins', 'Dates', 'Eggplants (aubergines)', 'Garlic', 'Groundnuts, with shell', 'Lentils', 'Lettuce and chicory', 'Maize', 'Mangoes, mangosteens, guavas', 'Oil, palm', 'Onions, dry', 'Onions. Dry', 'Oranges', 'Papayas', 'Peas, dry', 'Plantains and others', 'Potatoes', 'Pulses, Total', 'Pumpkins, squash and gourds', 'Rice, paddy', 'Sesame seed', 'Sorghum', 'Soybeans', 'Spinach', 'Sweet potatoes', 'Tea', 'Tomatoes', 'Wheat', 'Yams']

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
380,2,Afghanistan,515,Apples,5510,Production,1961,1961,tonnes,15100.0,*
381,2,Afghanistan,515,Apples,5510,Production,1962,1962,tonnes,15100.0,F
382,2,Afghanistan,515,Apples,5510,Production,1963,1963,tonnes,15100.0,F
383,2,Afghanistan,515,Apples,5510,Production,1964,1964,tonnes,18400.0,F
384,2,Afghanistan,515,Apples,5510,Production,1965,1965,tonnes,20400.0,F
385,2,Afghanistan,515,Apples,5510,Production,1966,1966,tonnes,22800.0,F
386,2,Afghanistan,515,Apples,5510,Production,1967,1967,tonnes,27600.0,F
387,2,Afghanistan,515,Apples,5510,Production,1968,1968,tonnes,27900.0,F
388,2,Afghanistan,515,Apples,5510,Production,1969,1969,tonnes,28200.0,F
389,2,Afghanistan,515,Apples,5510,Production,1970,1970,tonnes,27300.0,F
390,2,Afghanistan,515,Apples,5510,Production,1971,1971,tonnes,21500.0,F
391,2,Afghanistan,515,Apples,5510,Production,1972,1972,tonnes,26600.0,F
392,2,Afghanistan,515,Apples,5510,Production,1973,1973,tonnes,27600.0,F
393,2,Afghanistan,515,Apples,5510,Production,1974,1974,tonnes,27800.0,F
394,2,Afghanistan,515,Apples,5510,Production,1975,1975,tonnes,27900.0,F
395,2,Afghanistan,515,Apples,5510,Production,1976,1976,tonnes,26200.0,F
396,2,Afghanistan,515,Apples,5510,Production,1977,1977,tonnes,15500.0,F
397,2,Afghanistan,515,Apples,5510,Production,1978,1978,tonnes,22700.0,F
398,2,Afghanistan,515,Apples,5510,Production,1979,1979,tonnes,21600.0,F
399,2,Afghanistan,515,Apples,5510,Production,1980,1980,tonnes,22300.0,F
400,2,Afghanistan,515,Apples,5510,Production,1981,1981,tonnes,22100.0,F
401,2,Afghanistan,515,Apples,5510,Production,1982,1982,tonnes,21400.0,F
402,2,Afghanistan,515,Apples,5510,Production,1983,1983,tonnes,20800.0,F
403,2,Afghanistan,515,Apples,5510,Production,1984,1984,tonnes,20000.0,F
404,2,Afghanistan,515,Apples,5510,Production,1985,1985,tonnes,19100.0,F
405,2,Afghanistan,515,Apples,5510,Production,1986,1986,tonnes,19400.0,F
406,2,Afghanistan,515,Apples,5510,Production,1987,1987,tonnes,16600.0,F
407,2,Afghanistan,515,Apples,5510,Production,1988,1988,tonnes,16900.0,F
408,2,Afghanistan,515,Apples,5510,Production,1989,1989,tonnes,16900.0,F
409,2,Afghanistan,515,Apples,5510,Production,1990,1990,tonnes,16867.0,Im
...,...,...,...,...,...,...,...,...,...,...,...
1661902,181,Zimbabwe,15,Wheat,5510,Production,1987,1987,tonnes,214548.0,NaN
1661903,181,Zimbabwe,15,Wheat,5510,Production,1988,1988,tonnes,256910.0,NaN
1661904,181,Zimbabwe,15,Wheat,5510,Production,1989,1989,tonnes,283835.0,NaN
1661905,181,Zimbabwe,15,Wheat,5510,Production,1990,1990,tonnes,325983.0,NaN
1661906,181,Zimbabwe,15,Wheat,5510,Production,1991,1991,tonnes,259213.0,NaN
1661907,181,Zimbabwe,15,Wheat,5510,Production,1992,1992,tonnes,57000.0,NaN
1661908,181,Zimbabwe,15,Wheat,5510,Production,1993,1993,tonnes,277000.0,NaN
1661909,181,Zimbabwe,15,Wheat,5510,Production,1994,1994,tonnes,288000.0,NaN
1661910,181,Zimbabwe,15,Wheat,5510,Production,1995,1995,tonnes,70000.0,NaN
1661911,181,Zimbabwe,15,Wheat,5510,Production,1996,1996,tonnes,263134.0,NaN
1661912,181,Zimbabwe,15,Wheat,5510,Production,1997,1997,tonnes,254772.0,NaN
1661913,181,Zimbabwe,15,Wheat,5510,Production,1998,1998,tonnes,242121.0,NaN
1661914,181,Zimbabwe,15,Wheat,5510,Production,1999,1999,tonnes,260909.0,NaN
1661915,181,Zimbabwe,15,Wheat,5510,Production,2000,2000,tonnes,229775.0,NaN
1661916,181,Zimbabwe,15,Wheat,5510,Production,2001,2001,tonnes,197526.0,NaN
1661917,181,Zimbabwe,15,Wheat,5510,Production,2002,2002,tonnes,195000.0,NaN
1661918,181,Zimbabwe,15,Wheat,5510,Production,2003,2003,tonnes,122427.0,NaN
1661919,181,Zimbabwe,15,Wheat,5510,Production,2004,2004,tonnes,247048.0,NaN
1661920,181,Zimbabwe,15,Wheat,5510,Production,2005,2005,tonnes,229089.0,NaN
1661921,181,Zimbabwe,15,Wheat,5510,Production,2006,2006,tonnes,241924.0,NaN
1661922,181,Zimbabwe,15,Wheat,5510,Production,2007,2007,tonnes,149110.0,NaN
1661923,181,Zimbabwe,15,Wheat,5510,Production,2008,2008,tonnes,31000.0,NaN
1661924,181,Zimbabwe,15,Wheat,5510,Production,2009,2009,tonnes,12000.0,*
1661925,181,Zimbabwe,15,Wheat,5510,Production,2010,2010,tonnes,18000.0,*
1661926,181,Zimbabwe,15,Wheat,5510,Production,2011,2011,tonnes,23000.0,*
1661927,181,Zimbabwe,15,Wheat,5510,Production,2012,2012,tonnes,52736.0,Im
1661928,181,Zimbabwe,15,Wheat,5510,Production,2013,2013,tonnes,52926.0,Im
1661929,181,Zimbabwe,15,Wheat,5510,Production,2014,2014,tonnes,50422.0,Im
1661930,181,Zimbabwe,15,Wheat,5510,Production,2015,2015,tonnes,46858.0,Im
1661931,181,Zimbabwe,15,Wheat,5510,Production,2016,2016,tonnes,43294.0,Im

In [19]:
# write new df to file
production_df5.to_csv('reduced_production_data.csv')