In [1]:
import pandas as pd
import numpy as np
import csv

production_df = pd.read_csv('Crop_Production_Normalized.csv', encoding='latin-1')
production_df

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1975,1975,ha,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1976,1976,ha,5900.0,F
2,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1977,1977,ha,6000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1978,1978,ha,6000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1979,1979,ha,6000.0,F
5,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1980,1980,ha,5800.0,F
6,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1981,1981,ha,5800.0,F
7,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1982,1982,ha,5800.0,F
8,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1983,1983,ha,5700.0,F
9,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1984,1984,ha,5700.0,F
10,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1985,1985,ha,5600.0,F
11,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1986,1986,ha,5500.0,F
12,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1987,1987,ha,5500.0,F
13,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1988,1988,ha,5400.0,F
14,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1989,1989,ha,5400.0,F
15,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1990,1990,ha,6037.0,Im
16,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1991,1991,ha,5500.0,NaN
17,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1992,1992,ha,5500.0,NaN
18,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1993,1993,ha,5500.0,NaN
19,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1994,1994,ha,5500.0,NaN
20,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1995,1995,ha,5500.0,NaN
21,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1996,1996,ha,5500.0,NaN
22,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1997,1997,ha,5500.0,NaN
23,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1998,1998,ha,5500.0,NaN
24,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1999,1999,ha,5500.0,NaN
25,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2000,2000,ha,7000.0,F
26,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2001,2001,ha,9000.0,F
27,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2002,2002,ha,5500.0,NaN
28,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2003,2003,ha,5700.0,NaN
29,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,2004,2004,ha,12000.0,*
...,...,...,...,...,...,...,...,...,...,...,...
2306389,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1987,1987,tonnes,31041793.0,A
2306390,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1988,1988,tonnes,30742638.0,A
2306391,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1989,1989,tonnes,30482774.0,A
2306392,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1990,1990,tonnes,32097487.0,A
2306393,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1991,1991,tonnes,33873417.0,A
2306394,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1992,1992,tonnes,35917388.0,A
2306395,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1993,1993,tonnes,35878643.0,A
2306396,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1994,1994,tonnes,37267462.0,A
2306397,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1995,1995,tonnes,38395290.0,A
2306398,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1996,1996,tonnes,41661666.0,A
2306399,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1997,1997,tonnes,42458488.0,A
2306400,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1998,1998,tonnes,44924415.0,A
2306401,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,1999,1999,tonnes,47758244.0,A
2306402,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2000,2000,tonnes,50958959.0,A
2306403,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2001,2001,tonnes,51166836.0,A
2306404,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2002,2002,tonnes,54252292.0,A
2306405,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2003,2003,tonnes,57011242.0,A
2306406,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2004,2004,tonnes,59553453.0,A
2306407,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2005,2005,tonnes,62320337.0,A
2306408,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2006,2006,tonnes,64519483.0,A
2306409,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2007,2007,tonnes,66131458.0,A
2306410,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2008,2008,tonnes,68466879.0,A
2306411,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2009,2009,tonnes,71291996.0,A
2306412,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2010,2010,tonnes,72168527.0,A
2306413,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2011,2011,tonnes,73295482.0,A
2306414,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2012,2012,tonnes,75011224.0,A
2306415,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2013,2013,tonnes,75322149.0,A
2306416,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2014,2014,tonnes,78657590.0,A
2306417,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,81307673.0,A
2306418,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,82579759.0,A

In [2]:
production_df2 = production_df[production_df.Element == 'Production']
production_df2.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
83,2,Afghanistan,221,"Almonds, with shell",5510,Production,1975,1975,tonnes,0.0,F
84,2,Afghanistan,221,"Almonds, with shell",5510,Production,1976,1976,tonnes,9800.0,F
85,2,Afghanistan,221,"Almonds, with shell",5510,Production,1977,1977,tonnes,9000.0,F
86,2,Afghanistan,221,"Almonds, with shell",5510,Production,1978,1978,tonnes,12000.0,F
87,2,Afghanistan,221,"Almonds, with shell",5510,Production,1979,1979,tonnes,10500.0,F

In [3]:
price_df = pd.read_csv('WFPVAM_FoodPrices_05-12-2017.csv', encoding='latin-1')

price_df.rename(columns={'adm0_id': 'country_ID', 'adm0_name': 'country', 'adm1_id' : 'district_ID', \
                   'adm1_name' : 'district', 'mkt_id' : 'market_ID', 'mkt_name' : 'market' , \
                   'cm_id' : 'product_ID','cm_name' : '_product', 'cur_id' : 'currency_ID', \
                   'cur_name' : 'currency', 'pt_id' : 'sale_ID', 'pt_name' : 'sale', 'um_id' : 'unit_ID', \
                   'um_name' : 'unit', 'mp_month' : 'month', 'mp_year' : 'year', 'mp_price' : 'price', \
                   'mp_commoditysource' : 'source'}, inplace=True)

price_df = price_df['country']

price_df

countries = list(set(price_df.tolist()))
print(countries)

['Burundi', 'Rwanda', 'Armenia', 'Cambodia', 'Congo', 'Lesotho', 'Panama', 'Bangladesh', 'Benin', 'Timor-Leste', 'Honduras', 'Pakistan', 'Myanmar', 'Egypt', "Cote d'Ivoire", 'Iraq', 'Liberia', 'Senegal', 'Somalia', 'Sri Lanka', 'Chad', 'Costa Rica', 'Mali', 'Malawi', 'Gambia', "Lao People's Democratic Republic", 'Guinea', 'India', 'Afghanistan', 'Zimbabwe', 'Ethiopia', 'Djibouti', 'Madagascar', 'El Salvador', 'Lebanon', 'State of Palestine', 'Haiti', 'Cape Verde', 'Azerbaijan', 'Turkey', 'Democratic Republic of the Congo', 'Burkina Faso', 'Central African Republic', 'Algeria', 'Mozambique', 'Syrian Arab Republic', 'Yemen', 'Cameroon', 'Georgia', 'Mauritania', 'Tajikistan', 'Indonesia', 'Kenya', 'Colombia', 'Ukraine', 'Guinea-Bissau', 'Swaziland', 'Uganda', 'United Republic of Tanzania', 'Bhutan', 'Nigeria', 'Zambia', 'South Sudan', 'Nepal', 'Sudan', 'Guatemala', 'Iran  (Islamic Republic of)', 'Ghana', 'Kyrgyzstan', 'Jordan', 'Niger', 'Bolivia', 'Philippines', 'Peru']

In [10]:
production_df3 = production_df2[production_df2['Area'].isin(countries)]
production_df3

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
83,2,Afghanistan,221,"Almonds, with shell",5510,Production,1975,1975,tonnes,0.0,F
84,2,Afghanistan,221,"Almonds, with shell",5510,Production,1976,1976,tonnes,9800.0,F
85,2,Afghanistan,221,"Almonds, with shell",5510,Production,1977,1977,tonnes,9000.0,F
86,2,Afghanistan,221,"Almonds, with shell",5510,Production,1978,1978,tonnes,12000.0,F
87,2,Afghanistan,221,"Almonds, with shell",5510,Production,1979,1979,tonnes,10500.0,F
88,2,Afghanistan,221,"Almonds, with shell",5510,Production,1980,1980,tonnes,9900.0,F
89,2,Afghanistan,221,"Almonds, with shell",5510,Production,1981,1981,tonnes,8000.0,F
90,2,Afghanistan,221,"Almonds, with shell",5510,Production,1982,1982,tonnes,11000.0,F
91,2,Afghanistan,221,"Almonds, with shell",5510,Production,1983,1983,tonnes,9700.0,F
92,2,Afghanistan,221,"Almonds, with shell",5510,Production,1984,1984,tonnes,10500.0,F
93,2,Afghanistan,221,"Almonds, with shell",5510,Production,1985,1985,tonnes,9000.0,F
94,2,Afghanistan,221,"Almonds, with shell",5510,Production,1986,1986,tonnes,10000.0,F
95,2,Afghanistan,221,"Almonds, with shell",5510,Production,1987,1987,tonnes,9000.0,F
96,2,Afghanistan,221,"Almonds, with shell",5510,Production,1988,1988,tonnes,9000.0,F
97,2,Afghanistan,221,"Almonds, with shell",5510,Production,1989,1989,tonnes,8800.0,F
98,2,Afghanistan,221,"Almonds, with shell",5510,Production,1990,1990,tonnes,9500.0,F
99,2,Afghanistan,221,"Almonds, with shell",5510,Production,1991,1991,tonnes,9000.0,NaN
100,2,Afghanistan,221,"Almonds, with shell",5510,Production,1992,1992,tonnes,9900.0,NaN
101,2,Afghanistan,221,"Almonds, with shell",5510,Production,1993,1993,tonnes,9000.0,NaN
102,2,Afghanistan,221,"Almonds, with shell",5510,Production,1994,1994,tonnes,9000.0,NaN
103,2,Afghanistan,221,"Almonds, with shell",5510,Production,1995,1995,tonnes,9000.0,NaN
104,2,Afghanistan,221,"Almonds, with shell",5510,Production,1996,1996,tonnes,9000.0,NaN
105,2,Afghanistan,221,"Almonds, with shell",5510,Production,1997,1997,tonnes,9000.0,NaN
106,2,Afghanistan,221,"Almonds, with shell",5510,Production,1998,1998,tonnes,9000.0,NaN
107,2,Afghanistan,221,"Almonds, with shell",5510,Production,1999,1999,tonnes,11000.0,F
108,2,Afghanistan,221,"Almonds, with shell",5510,Production,2000,2000,tonnes,12000.0,F
109,2,Afghanistan,221,"Almonds, with shell",5510,Production,2001,2001,tonnes,15000.0,F
110,2,Afghanistan,221,"Almonds, with shell",5510,Production,2002,2002,tonnes,11318.0,Im
111,2,Afghanistan,221,"Almonds, with shell",5510,Production,2003,2003,tonnes,14000.0,*
112,2,Afghanistan,221,"Almonds, with shell",5510,Production,2004,2004,tonnes,14700.0,*
...,...,...,...,...,...,...,...,...,...,...,...
1663446,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1987,1987,tonnes,145700.0,A
1663447,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1988,1988,tonnes,147800.0,A
1663448,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1989,1989,tonnes,149900.0,A
1663449,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1990,1990,tonnes,155125.0,A
1663450,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1991,1991,tonnes,157302.0,A
1663451,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1992,1992,tonnes,135549.0,A
1663452,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1993,1993,tonnes,145774.0,A
1663453,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1994,1994,tonnes,151532.0,A
1663454,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1995,1995,tonnes,147055.0,A
1663455,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1996,1996,tonnes,149199.0,A
1663456,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1997,1997,tonnes,147196.0,A
1663457,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1998,1998,tonnes,143931.0,A
1663458,181,Zimbabwe,1735,Vegetables Primary,5510,Production,1999,1999,tonnes,152129.0,A
1663459,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2000,2000,tonnes,148730.0,A
1663460,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2001,2001,tonnes,161421.0,A
1663461,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2002,2002,tonnes,170427.0,A
1663462,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2003,2003,tonnes,180353.0,A
1663463,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2004,2004,tonnes,180981.0,A
1663464,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2005,2005,tonnes,184727.0,A
1663465,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2006,2006,tonnes,191085.0,A
1663466,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2007,2007,tonnes,198478.0,A
1663467,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2008,2008,tonnes,202999.0,A
1663468,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2009,2009,tonnes,209728.0,A
1663469,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2010,2010,tonnes,220644.0,A
1663470,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2011,2011,tonnes,207235.0,A
1663471,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2012,2012,tonnes,230340.0,A
1663472,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2013,2013,tonnes,230340.0,A
1663473,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2014,2014,tonnes,232298.0,A
1663474,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,235568.0,A
1663475,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,240264.0,A

In [11]:
production_df3.to_csv('reduced_production_data.csv')